In [2]:
# data comes from lenders club
import pandas as pd
df = pd.read_csv('accepted_2007_to_2018q4.csv/accepted_2007_to_2018q4.csv')

C:\Users\jzmuj\AppData\Local\Temp\ipykernel_19576\3601245598.py:2: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('accepted_2007_to_2018q4.csv/accepted_2007_to_2018q4.csv')

In [11]:
import numpy as np
df_tmp = df[np.isin(df['issue_d'], ['Jan-2018', 'Feb-2018', 'Mar-2018', 'Apr-2018', 'May-2018', 'Jun-2018', 'Jul-2018', 'Aug-2018', 'Sep-2018', 'Oct-2018', 'Nov-2018', 'Dec-2018'])]

In [16]:
df_tmp = df_tmp[df_tmp.purpose == 'credit_card']

In [19]:
df_tmp

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
421107,130960818,NaN,6000.0,6000.0,6000.0,36 months,10.41,194.77,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
421111,130939127,NaN,10000.0,10000.0,10000.0,36 months,6.07,304.54,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
421121,130962380,NaN,20300.0,20300.0,20300.0,60 months,17.47,509.66,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
421126,130808381,NaN,18000.0,18000.0,18000.0,60 months,18.45,461.50,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
421132,130960044,NaN,6300.0,6300.0,6300.0,36 months,9.43,201.61,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611859,130250053,NaN,10000.0,10000.0,10000.0,36 months,7.96,313.18,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1611866,130087499,NaN,9000.0,9000.0,9000.0,36 months,11.98,298.85,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1611867,130273629,NaN,10000.0,10000.0,10000.0,36 months,14.07,342.12,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1611869,130065583,NaN,15000.0,15000.0,15000.0,60 months,16.01,364.86,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1611870,130289013,NaN,10000.0,10000.0,10000.0,60 months,17.47,251.06,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_tmp.to_csv('credit_card_2018.csv', index=False)